/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require custom-theme/jquery-ui-1.10.0.custom
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require angular-ui.min
*/
td.product_name {max-width: 250px; word-wrap:break-word;}
td.barcode {width: 150px;}
td.shop_name {max-width: 200px; word-wrap:break-word;}
td.shop_address {max-width: 200px; word-wrap:break-word;}
td.specification_action {width: 65px;}
.tag{display: inline-block; margin-top: 5px; padding: 3px 5px; text-shadow: 0 1px 0 rgba(255,255,255,0.5);background-color: #fcf8e3;border: 1px solid #fbeed5;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-left: 5px;}
.remover {color: #000; opacity: 0.2;filter: alpha(opacity=20);}
.remover:hover, .remover:focus {color: #000000;text-decoration: underline;cursor: pointer;opacity: 0.4;filter: alpha(opacity=40);}
span.shop_owner {margin-top: 4px; display: inline-table;}
body .modal-manager {width: 800px; margin-left: -400px;}
/*.modal .modal-body {max-height: 420px;overflow-y: auto;}*/