html, body {
    height: 100%;
    margin: 0;
    padding: 0; }
span { 
    height: 100%;
    vertical-align: middle;
    display: inline-block; }
.container {
    height: 100%;
}
.outer {
    padding: 0;
    vertical-align: middle;
    display: inline-block; }
.inner {
    vertical-align: middle;
    display: inline-block; }